
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8">
        <section class="panel panel-default">
          <div class="panel-body">
            <article class="panel-body">
              <figure class="text-center" style="margin: auto;">
                <img src="../../assets/template/img/users/{{nom_photo}}" alt="" class="rounded-circle" width="180" height="180">
                <figcaption>
                  <h3>Dridi Mohammed Amine</h3> software engineering student
                  <br> Tel : +216 - 20909268
                  <br> E-mail: mohammedamine.dridi.esprit@gmail.com
                </figcaption>
              </figure>
            </article>
            <br>
            <article>
              <h4>
                                                    <strong>Personal Details</strong>
                                              </h4>
              <hr>
              <dl class="dl-horizontal">
                <dt>Date of Birth:</dt>
                <dd>03 october 1997</dd>
                <dt>Age:</dt>
                <dd>23</dd>
                <dt>Marital Status:</dt>
                <dd>Single</dd>
                <dt>Interests:</dt>
                <dd>desktop and web applications development , and the creation of iot devices using software and hardware skills </dd>
              </dl>
            </article>
            <article>
              <h4>
                                                    <strong>Edcucation</strong>
                                              </h4>
              <hr>
              <dl class="dl-horizontal">
                <dt>2016-2019</dt>
                <dd>telecommunication license - FSB : faculté des sciences de bizerte </dd>
                <dt>2019-2021</dt>
                <dd>4th year in software engineering  - Esprit </dd>
              </dl>
            </article>
    
           
          </div>
        </section>
      </div>
    </div>
  